[submodule "ESD-BonitaSoft-Little-Caesar-BPM"]
	path = ESD-BonitaSoft-Little-Caesar-BPM
	url = git@github.com:AlonsoUNSA/ESD-BonitaSoft-Little-Caesar-BPM.git
[submodule "services/price-service"]
	path = services/price-service
	url = git@github.com:AlonsoUNSA/ESD-Little-Caesars-price-service.git
[submodule "services/service-inventario"]
	path = services/service-inventario
	url = https://github.com/pieroadrianoCV/service-inventario.git
[submodule "services/service-clientes"]
	path = services/service-clientes
	url = https://github.com/KennyBorja/service-clientes.git
[submodule "services/service-caja"]
	path = services/service-caja
	url = https://github.com/aqppaulet/Little-Caesars-Service-Caja.git
	branch = main
[submodule "services/app-delivery"]
	path = services/app-delivery
	url = git@github.com:fhuaquistoq/DSE-Little-Caersars-App-Delivery.git
